body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #1b1b1b;
            color: #e0e0e0;
            line-height: 1.6;
        }
        

        header {
            background: linear-gradient(to right, #2e2e2e, #1b1b1b);
            padding: 40px;
            text-align: center;
            border-bottom: 2px solid #444;
        }

        header h1 {
            margin: 0;
            font-size: 3em;
            letter-spacing: 2px;
        }

        header p {
            font-style: italic;
            color: #aaa;
        }

        main {
            max-width: 1000px;
            margin: auto;
            padding: 20px;
        }

        section {
            margin-bottom: 40px;
            padding: 20px;
            background-color: #252525;
            border-left: 5px solid #555;
        }

        section h2 {
            margin-top: 0;
            color: #cfcfcf;
            border-bottom: 1px solid #444;
            padding-bottom: 5px;
        }

        ul {
            padding-left: 20px;
        }

        .highlight {
            color: #bfa76f;
            font-weight: bold;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #111;
            color: #777;
            font-size: 0.9em;
        }
        
   